*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

:root{
    
}

input{
    font-family: inherit;
}

a{
    text-decoration: none;
  
}

ul{
    list-style-type: none;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'Shabnam';
}


/* Header */

.header{
  background-color: #343434;
  padding-top: 3.5rem;
  padding-bottom:10rem;

}

.nav-section{
    margin-bottom:2rem;
}

.container{
    width: 80%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;  
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
    /* align-items: center;   */   /*in karo kharab mikone, baraye daynami shodan tol va arz che bayad kard?*/
    flex-direction: row-reverse;
    /* gap: 1rem; */
}

.list-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5rem;
    /* max-height: 4.7rem; */
    width:78%;
    padding: .5rem;
}

.list__item{

}

.list__item__inside{
    color: #4d4d4d;
    font-weight: bold;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 20%;
    /* max-height: 4.7rem; */
    padding: 0.7rem 1.4rem;
    border-radius: 5rem;   
}

.nav__logo__img{
   height: 100%;
   width: 100%;
   /* object-fit:cover; */  /* ba padding dadan be figure andazasho ok kardam!!!*/
}





/*** Header middle left ***/
.middle{
    margin-bottom:2rem;
}
.middle-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* align-items: center; */   /* amele moshkel ine aslan :D*/
}

.middle-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.m-left__img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-left__img__adv{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.m-left__text{
    margin-bottom: 2rem;
    color: #fff;
}
.m-left__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;

}

.m-left__wrapper__inside{
    background-color: #fff;
    width:7rem;
    height: 7rem;
    border-radius: 1rem;

}

/* Header middle right */

.middle-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.m-right__head{
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.m-right__text{
    width: 100%;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
}

.m-right__btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    /* align-items: center; */
    flex-wrap: wrap;

}
.span-in-button{
    display: flex;
    justify-content: space-around;
    color: #fff;
    /* align-items: center; */
}

.btn-course{
    width: 39%;
    min-width: 13rem;
    background-color: #343434 ;
    color: #fff;
    padding: .5rem 0;
    border-radius: 5rem;
    border:.09rem solid white;
    transition: .4s ease;  
    font-family: inherit;
    font-size: 1.2rem;
}

.btn-gift{
    width: 59%;
    min-width: 18rem;
    background-color: #343434 ;
    color: #fff;
    padding: .5rem 0;
    border-radius: 5rem;
    border:.09rem solid white;
    transition: .4s ease;  
    font-family: inherit;
    font-size: 1.2rem;
}



.header-btm-hover:hover{
    transform: translateY(+20%);
    background-color: black;
    border: none;
}



/*** benefits ***/

.benefits{

   margin-top: 4rem;
}

.benfit-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.benefit-header{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

.benefit-header__cont{
    font-size: 2rem;
    font-weight: bold;
}

.benefit-items{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.benefit-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 17%;
}

.benefit-item__img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7rem;
}

.ben__img{
    max-width: 4.5rem;
    max-height: 4.5rem;
    object-fit: cover;
}


.benefit-item__text{
    text-align: center;
    color: #fff;
    font-weight: bold;
    
}

/*** Main ***/

.main{
    background-color: #f2f2f2;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.courses{
    margin-bottom: 3rem;
}

.main-top-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-top__header{
    width: 100%;
    margin-bottom: 3rem;
}

.main-top__header__content{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.main-top__courses{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.main-top__courses__content{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: .5rem;
    background-color: #ffffff;
    /* width: 15%; */  /* ba hazfe width har kasi be andaze khodesh bar midare*/
    height: 3rem;
    padding: 1.8rem 1.7rem;
    cursor: pointer;

}

.course-name-top{
    font-size: 1.1rem;
    color: #9a9a9a;
    font-weight: bold;
    transition: .4s ease;
}

.main-top__courses__content .course-name-top:hover{
    color: black;
}

/* Main Middle */

.middle{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.main-middle-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
}

.main-middle-head__content{
    font-weight: bold;
    font-size: 1.5rem;
    
}

.main-middle-text{

}

.main-middle-text__content{
    font-weight: bold;
}

.teachers{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.teachers-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;

}

.teacher{
    background-color:#3f3f3f ;
    width: 30%;
    /* height: 33rem; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-bottom: 1rem;

}

.teacher-content__container{
    width: 94%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.dis-img-container{
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    width: 4rem;
    height: 4rem;

}

.dis-img{
    position:absolute;
    width: 100%;
    height: 100%;
}
.dis-text{
    position: absolute;
    left: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: #fff;
}

.img-wrapper{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.teacher__img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.course-name{
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
}

.price-wrapper{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.del-price{
    font-family: inherit;
    color:#b8b6b6;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration-line: line-through;
}
.actual-price{

    font-family: inherit;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;

}

.btn-wrapper{
    min-width: 11rem;
    height: 3rem;
    background-color:  #fea000;
    border: none;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-content-text{
    font-family: 'Shabnam';
    font-weight: bold;
    font-size: 1rem;
}

.fa-solid{
    font-size: 1rem;
}

/* Footer */

.footer{

}
.profesors{
    background-color: #484848;
    padding: 4rem 0;
}

.profesors-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profesors-text-wrapper{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.profesors-text{
    font-size: 2rem;
    font-weight: bold;
}

.profesors-img-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
}

.profesors-img{
    max-width:100% ;
    border-radius: 1rem;
}

.special-gifts{
    background-color: #343434;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.special-gifts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.special-gifts-header{

}

.gifts-header{
    font-size: 2.5rem;
}

.special-gifts-text{

}

.gifts-text{
    color: #fff;
    font-size: 1rem;
}

.three-gifts-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.gift{
    padding: 3rem 1rem;
    background-color: #3f3f3f;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:1rem;
    border-radius: 1rem;

}

.gift-img{
    width:40%;
}

.gift-text{
   text-align: right;
   color: #fff;
}


.ideas{
    background-color: #343434;
    padding: 3rem 0;
}

.ideas-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.idea-text-wrapper{
    
    width: 70%;
    background-color: #484848;
    padding: 4rem;
    border-radius: 1rem;
    line-height: 2rem;

}

.end-footer{
    background-color: #343434;
}

.contetn-wrapper{
    background-color: #3f3f3f;
    border-top-left-radius:1rem ;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

.end-img-wraper{
    max-width: 10%;
}

.end-img{
    max-width: 100%;
    object-fit: cover;
}
.media-wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.fa-telegram{
    font-size: 2rem
}

.fa-instagram{
    font-size: 2rem;
}















/* media queries */

@media only screen and (max-width:1500px){
    .container{
        width: 75rem;
    }
}

@media only screen and (max-width:1200px){
    .container{
        width: 90%;
        max-width: 75rem;
        margin-right: 1%;
        margin-left: 4%;  
    }
    

}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:768px){
   .container{
    width: 98%;
    margin: 0 auto;
   }

   .nav{
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

   }
   .list-items{
    width: 100%;
    height: 23%;
    justify-content: center;
    margin: .5rem;
    border-radius: .5rem;
   }

   .list__item{
    
   }

   .list__item__inside{
        font-size: 12px;
        font-weight: bold;
        margin-left: .5rem;
   }

   .nav__logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
   }
   .nav__logo__img{
    width: 50%;
   }

   .middle-wrapper{
    flex-direction: column;
    align-items: center;
   }
   .middle-left{
    width: 100%;
   }
   .m-left__img{
    width: 60%;
    margin-bottom: 1rem;
   }

   .m-left__text{
    width: 98%;
    font-size: 1.5rem;
    text-align: center;
   }

   .m-left__wrapper__inside {
    width: 10rem;
   }

   .middle-right{
    width: 98%;
   }
   .m-right__head{
    font-size: 2.5rem;
    margin-bottom: 1rem;
   }

   .m-right__text{
    text-align: right;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
   }

   .m-right__btns{
    flex-direction: column;
   }

   .btn-course{
    width: 98%;
    margin-bottom: .5rem;
   }
   .btn-gift{
    width: 98%;
   }

   .benefit-items{
    flex-wrap: wrap;
   }

   .benefit-item{
    width: 44%;
    margin-bottom: 1rem;
   }

   
  .main-top__courses__content{
    height: 2rem;
    padding: 1rem 1rem;

  }

  .course-name{
    font-size: .8rem;
    
  }

  .teachers-wrapper{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .teacher{
    width: 90%;
  }

  .teacher__img{
    object-fit: cover;
  }

  .btn-wrapper{
    width: 100%;
  }

  .three-gifts-container{
    flex-wrap: wrap;

  }
  .gift{
    width: 100%;
    justify-content: start;
    gap: 2rem;
  }

  .gift-img{
    width: 20%;
   
  }

  .g-img{
    width: 100%;
  }
  





}

@media only screen and (max-width:576px){

}

/*** font ***/
@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff2') format('woff2'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.woff2') format('woff2'),
         url('../fonts/Shabnam-Bold.woff') format('woff'),
         url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Thin.eot');
    src: url('../fonts/Shabnam-Thin.woff2') format('woff2'),
         url('../fonts/Shabnam-Thin.woff') format('woff'),
         url('../fonts/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Light.eot');
    src: url('../fonts/Shabnam-Light.woff2') format('woff2'),
         url('../fonts/Shabnam-Light.woff') format('woff'),
         url('../fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Medium.eot');
    src: url('../fonts/Shabnam-Medium.woff2') format('woff2'),
         url('../fonts/Shabnam-Medium.woff') format('woff'),
         url('../fonts/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }