*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

:root{
    
}

input{
    font-family: inherit;
}

a{
    text-decoration: none;
  
}

ul{
    list-style-type: none;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'Shabnam';
}


/* Header */

.header{
  background-color: #343434;
  padding-top: 3.5rem;
  padding-bottom: 2rem;

}

.nav-section{
    margin-bottom:2rem;
}

.container{
    width: 80%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;  
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
    /* align-items: center;   */   /*in karo kharab mikone, baraye daynami shodan tol va arz che bayad kard?*/
    flex-direction: row-reverse;
    /* gap: 1rem; */
}

.list-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5rem;
    /* max-height: 4.7rem; */
    width:78%;
    padding: .5rem;
}

.list__item{

}

.list__item__inside{
    color: #4d4d4d;
    font-weight: bold;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 20%;
    /* max-height: 4.7rem; */
    padding: 0.7rem 1.4rem;
    border-radius: 5rem;   
}

.nav__logo__img{
   height: 100%;
   width: 100%;
   /* object-fit:cover; */  /* ba padding dadan be figure andazasho ok kardam!!!*/
}





/*** Header middle left ***/
.middle{
    margin-bottom:2rem;
}
.middle-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* align-items: center; */   /* amele moshkel ine aslan :D*/
}

.middle-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.m-left__img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-left__img__adv{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.m-left__text{
    margin-bottom: 2rem;
    color: #fff;
}
.m-left__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;

}

.m-left__wrapper__inside{
    background-color: #fff;
    width:7rem;
    height: 7rem;
    border-radius: 1rem;

}

/* Header middle right */

.middle-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.m-right__head{
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.m-right__text{
    width: 100%;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
}

.m-right__btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    /* align-items: center; */
    flex-wrap: wrap;

}
.span-in-button{
    display: flex;
    justify-content: space-around;
    color: #fff;
    /* align-items: center; */
}

.btn-course{
    width: 39%;
    min-width: 13rem;
    background-color: #343434 ;
    color: #fff;
    padding: .5rem 0;
    border-radius: 5rem;
    border:.09rem solid white;
    transition: .4s ease;  
    font-family: inherit;
    font-size: 1.2rem;
}

.btn-gift{
    width: 59%;
    min-width: 18rem;
    background-color: #343434 ;
    color: #fff;
    padding: .5rem 0;
    border-radius: 5rem;
    border:.09rem solid white;
    transition: .4s ease;  
    font-family: inherit;
    font-size: 1.2rem;
}



.header-btm-hover:hover{
    transform: translateY(+20%);
    background-color: black;
    border: none;
}



/*** benefits ***/

.benefits{

   margin-top: 4rem;
}

.benfit-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.benefit-header{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

.benefit-header__cont{
    font-size: 2rem;
    font-weight: bold;
}

.benefit-items{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.benefit-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 17%;
}

.benefit-item__img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7rem;
}

.ben__img{
    max-width: 4.5rem;
    max-height: 4.5rem;
    object-fit: cover;
}


.benefit-item__text{
    text-align: center;
    color: #fff;
    font-weight: bold;
    
}













/* media queries */

@media only screen and (max-width:1500px){
    .container{
        width: 75rem;
    }
}

@media only screen and (max-width:1200px){
    .container{
        width: 90%;
        max-width: 75rem;
        margin-right: 1%;
        margin-left: 4%;  
    }
    

}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:768px){
   .container{
    width: 98%;
    margin: 0 auto;
   }

   .nav{
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

   }
   .list-items{
    width: 100%;
    height: 23%;
    justify-content: center;
    margin: .5rem;
    border-radius: .5rem;
   }

   .list__item{
    
   }

   .list__item__inside{
        font-size: 12px;
        font-weight: bold;
        margin-left: .5rem;
   }

   .nav__logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
   }
   .nav__logo__img{
    width: 50%;
   }

   .middle-wrapper{
    flex-direction: column;
    align-items: center;
   }
   .middle-left{
    width: 100%;
   }
   .m-left__img{
    width: 60%;
    margin-bottom: 1rem;
   }

   .m-left__text{
    width: 98%;
    font-size: 1.5rem;
    text-align: center;
   }

   .m-left__wrapper__inside {
    width: 10rem;
   }

   .middle-right{
    width: 98%;
   }
   .m-right__head{
    font-size: 2.5rem;
    margin-bottom: 1rem;
   }

   .m-right__text{
    text-align: right;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
   }

   .m-right__btns{
    flex-direction: column;
   }

   .btn-course{
    width: 98%;
    margin-bottom: .5rem;
   }
   .btn-gift{
    width: 98%;
   }

   .benefit-items{
    flex-wrap: wrap;
   }

   .benefit-item{
    width: 44%;
    margin-bottom: 1rem;
   }
  





}

@media only screen and (max-width:576px){

}

/*** font ***/
@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff2') format('woff2'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.woff2') format('woff2'),
         url('../fonts/Shabnam-Bold.woff') format('woff'),
         url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Thin.eot');
    src: url('../fonts/Shabnam-Thin.woff2') format('woff2'),
         url('../fonts/Shabnam-Thin.woff') format('woff'),
         url('../fonts/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Light.eot');
    src: url('../fonts/Shabnam-Light.woff2') format('woff2'),
         url('../fonts/Shabnam-Light.woff') format('woff'),
         url('../fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Medium.eot');
    src: url('../fonts/Shabnam-Medium.woff2') format('woff2'),
         url('../fonts/Shabnam-Medium.woff') format('woff'),
         url('../fonts/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }